/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* branco */
    color: #1f1f1f; /* cinza escuro */
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Estilos do Header */
header {
    background-color: #79bcb7; /* azul */
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Estilos das Seções */
.section {
    padding: 50px 0;
}

.section h2 {
    margin-bottom: 20px;
}

.section p {
    margin-bottom: 20px;
}

/* Estilos do Rodapé */
footer {
    background-color: #3a7a7d;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 5px 0;
}

/* Estilos da Sidebar */
.sidebar {
    width: 20%;
    background-color: #ceefe0; /* verde */
    color: #fff; /* branco */
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}
